@page
@model Student_Information.Pages.New_Course_InfoModel
@{
    <h1 class="text-center">The Student Information System</h1>
    <br />
    <p>all the information regarding studenst will be placed here</p>
}
